:root {
  --player-primary-color: 61, 107, 255;
  --computer-primary-color: 255, 168, 97;
  --dark-blue: rgb(95, 98, 116);
  --cell-color: rgb(227, 227, 227);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--dark-blue);
}

main {
  display: flex;
  flex-wrap: wrap;

  margin: 50px;
  justify-content: center;
  gap: clamp(50px, 10vw, 120px);
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  gap: 16px;
}

.board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  gap: 1px;
}

.grid-label {
  align-content: center;
  text-align: center;
  font-size: 12px;
}

.cell {
  border: 1px solid var(--cell-color);
}

.computer-container .cell {
  cursor: pointer;
}

.player-container .ship {
  background-color: rgb(var(--player-primary-color), 0.25);
}

.computer-container .ship {
  /* For debugging computer */
  /* background-color: rgba(255, 158, 61, 0.1); */
}

.hit,
.miss {
  cursor: default;
}

.player-container .hit {
  background-color: rgb(var(--player-primary-color));
}

.computer-container .hit {
  background-color: rgb(var(--computer-primary-color), 0.25);
}

.miss {
  background-color: var(--dark-blue);
}

.computer-container .sunk {
  background-color: rgb(var(--computer-primary-color));
}

.ships-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ship-piece {
  display: flex;
  gap: 1px;
  cursor: pointer;
}

.ship-piece div {
  background-color: rgb(var(--player-primary-color), 0.25);
  height: 30px;
  width: 30px;
}

.ship-3 {
  display: flex;

  width: calc((30px + 1px) * 5);
  /* grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); */
}

.ship-2 {
  /* grid-template-columns: repeat(auto-fill, minmax(30px, 1fr)); */
}

[data-horizontal="true"] {
  flex-direction: row;
}

[data-horizontal="false"] {
  flex-direction: column;
}

.disabled {
  pointer-events: none;
  opacity: 0.5; /* optional */
}

.description {
}

.ships-remaining-container {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 36px;
  width: 60px;
}

.ship-remaining-piece {
  display: flex;
  gap: 1px;
}

.player-container .ship-remaining-piece div {
  background-color: rgba(var(--player-primary-color), 0.1);
}

.computer-container .ship-remaining-piece div {
  background-color: rgba(var(--computer-primary-color), 0.2);
}

.ship-remaining-piece div {
  height: 8px;
  width: 8px;
}

.player-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.computer-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.computer-container .ships-remaining-container {
  flex-direction: row-reverse;
}

.hidden {
  visibility: hidden;
}

.game-result {
  text-align: center;
  white-space: pre-line;
}

.play-btn {
  padding: 4px;
}
